<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>약 정보 검색</title>
</head>

<body>

    <h1>💊 약 정보 검색</h1>

    <form action="/" method="POST">

        <input
            type="text"
            name="medicine_name"
            placeholder="약 이름을 입력하세요"
            value="{{ medicine_name }}"
        >

        <button type="submit">검색</button>

    </form>


    {% if medicine_name %}

        <h2>검색어</h2>
        <p>{{ medicine_name }}</p>

        <h2>검색 결과</h2>

        {% if medicines %}

            {% for medicine in medicines %}

                <div>
                    <h3>
                        <a href="/medicine/{{ medicine.item_seq }}">
                            {{ medicine.item_name }}
                        </a>
                    </h3>

                    <p>
                        품목기준코드: {{ medicine.item_seq }}
                    </p>

                    <p>
                        제조사: {{ medicine.entp_name }}
                    </p>

                    <hr>
                </div>

            {% endfor %}

        {% else %}

            <p>검색 결과가 없습니다.</p>

        {% endif %}

    {% endif %}

</body>

</html>
